body {
    font-family: Snell Roundhand, cursive ;
    background-image: url("src/todo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

#task-input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-task-btn {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-task-btn:hover {
    background-color: #218838;
}

#task-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    background-color: rgba(255, 251, 0, 0.192);
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.task-item span {
    flex-grow: 1;
    margin-right: 10px;
    word-break: break-word;
}

.task-item.completed {
    text-decoration: line-through;
    color: #aaa;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.delete-btn:hover {
    background-color: #c82333;
}

.complete-btn {
    background-color: hsl(118, 95%, 29%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 5px;
}

.complete-btn:hover {
    background-color: #0056b3;
}